In [1]:
#Importando pandas
import pandas as pd

In [3]:
#Leitura dos arquivos
df1 = pd.read_excel("Aracaju.xlsx",engine="openpyxl")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [4]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [9]:
#Juntado os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [10]:
#Exibindo as 5 ultimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [11]:
#Pegar amostra
df.sample(5)

      Cidade       Data  Vendas  LojaID  Qtde
95   Aracaju 2018-01-01  127.43    1522     9
84     Natal 2019-01-02   22.99    1036     1
7    Aracaju 2019-01-01  172.22    1522     6
121    Natal 2019-01-02  100.70    1037     3
36   Aracaju 2018-01-01   37.99    1523     8

In [13]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [14]:
#Alterando o tipo da coluna LojaId
df["LojaID"] = df["LojaID"].astype("object")