In [ ]:
#importando biblioteca pandas
import pandas as pd

df = pd.read_csv("E:\FATEC\CURSOS\GITHUB\DIO-\Bootcamp-Ciencia-Dados\pandas\datasets\Gapminder.csv", error_bad_lines=False, sep=";")

In [12]:
# Visualizar as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [19]:
df = df.rename(columns={"country" : "Pais", "continent": "Continente", "year":"Ano", "lifeExp": "Expectativa de vida", "pop": "Pop Total", "gdpPercap": "Pib"})

In [21]:
df.head(15)

           Pais Continente   Ano  Expectativa de vida  Pop Total          Pib
0   Afghanistan       Asia  1952               28.801    8425333   779.445314
1   Afghanistan       Asia  1957               30.332    9240934   820.853030
2   Afghanistan       Asia  1962               31.997   10267083   853.100710
3   Afghanistan       Asia  1967               34.020   11537966   836.197138
4   Afghanistan       Asia  1972               36.088   13079460   739.981106
5   Afghanistan       Asia  1977               38.438   14880372   786.113360
6   Afghanistan       Asia  1982               39.854   12881816   978.011439
7   Afghanistan       Asia  1987               40.822   13867957   852.395945
8   Afghanistan       Asia  1992               41.674   16317921   649.341395
9   Afghanistan       Asia  1997               41.763   22227415   635.341351
10  Afghanistan       Asia  2002               42.129   25268405   726.734055
11  Afghanistan       Asia  2007               43.828   31889923   974.580338
12      Albania     Europe  1952               55.230    1282697  1601.056136
13      Albania     Europe  1957               59.280    1476505  1942.284244
14      Albania     Europe  1962               64.820    1728137  2312.888958

In [22]:
# Total de linhas e colunas
df.shape

(3312, 6)

In [23]:
# Retornar nome das colunas
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa de vida', 'Pop Total', 'Pib'], dtype='object')

In [24]:
# Retornar tipo de dado de cada coluna
df.dtypes

Pais                    object
Continente              object
Ano                      int64
Expectativa de vida    float64
Pop Total                int64
Pib                    float64
dtype: object

In [26]:
# Retornar as ultimas linhas
df.tail(15)

          Pais Continente   Ano  Expectativa de vida  Pop Total          Pib
3297    Zambia     Africa  1997               40.238    9417789  1071.353818
3298    Zambia     Africa  2002               39.193   10595811  1071.613938
3299    Zambia     Africa  2007               42.384   11746035  1271.211593
3300  Zimbabwe     Africa  1952               48.451    3080907   406.884115
3301  Zimbabwe     Africa  1957               50.469    3646340   518.764268
3302  Zimbabwe     Africa  1962               52.358    4277736   527.272182
3303  Zimbabwe     Africa  1967               53.995    4995432   569.795071
3304  Zimbabwe     Africa  1972               55.635    5861135   799.362176
3305  Zimbabwe     Africa  1977               57.674    6642107   685.587682
3306  Zimbabwe     Africa  1982               60.363    7636524   788.855041
3307  Zimbabwe     Africa  1987               62.351    9216418   706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340   693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948   792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563   672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143   469.709298