In [11]:
#importando biblioteca pandas
import pandas as pd

df = pd.read_csv("E:\FATEC\CURSOS\GITHUB\DIO-\Bootcamp-Ciencia-Dados\pandas\datasets\Gapminder.csv", error_bad_lines=False, sep=";")

C:\Users\Doni\AppData\Local\Temp\ipykernel_16428\4223413165.py:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("E:\FATEC\CURSOS\GITHUB\DIO-\Bootcamp-Ciencia-Dados\pandas\datasets\Gapminder.csv", error_bad_lines=False, sep=";")

In [12]:
# Visualizar as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [19]:
df = df.rename(columns={"country" : "Pais", "continent": "Continente", "year":"Ano", "lifeExp": "Expectativa de vida", "pop": "Pop Total", "gdpPercap": "Pib"})

In [21]:
df.head(15)

           Pais Continente   Ano  Expectativa de vida  Pop Total          Pib
0   Afghanistan       Asia  1952               28.801    8425333   779.445314
1   Afghanistan       Asia  1957               30.332    9240934   820.853030
2   Afghanistan       Asia  1962               31.997   10267083   853.100710
3   Afghanistan       Asia  1967               34.020   11537966   836.197138
4   Afghanistan       Asia  1972               36.088   13079460   739.981106
5   Afghanistan       Asia  1977               38.438   14880372   786.113360
6   Afghanistan       Asia  1982               39.854   12881816   978.011439
7   Afghanistan       Asia  1987               40.822   13867957   852.395945
8   Afghanistan       Asia  1992               41.674   16317921   649.341395
9   Afghanistan       Asia  1997               41.763   22227415   635.341351
10  Afghanistan       Asia  2002               42.129   25268405   726.734055
11  Afghanistan       Asia  2007               43.828   31889923   974.580338
12      Albania     Europe  1952               55.230    1282697  1601.056136
13      Albania     Europe  1957               59.280    1476505  1942.284244
14      Albania     Europe  1962               64.820    1728137  2312.888958

In [22]:
# Total de linhas e colunas
df.shape

(3312, 6)

In [23]:
# Retornar nome das colunas
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa de vida', 'Pop Total', 'Pib'], dtype='object')

In [24]:
# Retornar tipo de dado de cada coluna
df.dtypes

Pais                    object
Continente              object
Ano                      int64
Expectativa de vida    float64
Pop Total                int64
Pib                    float64
dtype: object